.contentNavWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #323543;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
        color: #fff;
        font-size: 12px;

        &>img {
            margin-bottom: 5px;
        }
    }

    .active {
        background-color: #282c39;
        color: #43a0c8;
    }
}